{% extends 'base.html' %}
{% block title %}
<title>New Deal</title>
{% endblock title %}
{% block content %}
    <div class="picker-card-big">
        <form method="post">
            {% csrf_token %}
            <div class="form-error">{{form.non_field_errors}}</div>
            {% for form_field in form %}
                <p><label class="form-label" for="{{ form_field.id_for_label }}">{{form_field.label}}:</label>
                    <br>
                    {{ form_field }}
                <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
                <button type="submit">apply</button>
        </form>
</div>
{% endblock content %}