{% extends 'base.html' %}
{% block title %}
    <title>Workspace</title>
{% endblock title %}
{% block content %}
    {% for deal in deals %}
        <a href="#">
            <div class="blackout" id="blackout">
                <div class="deal-popup-dates">
                    <span class = "popup-dates">{{ deal.date_open }}</span>
                    <hr class="deal-card-divider">
                    <span class = "popup-dates">{{ deal.deadline }}</span>
                </div>
                <div class="deal-popup">
                    <div class="popup-title">{{ deal.title }}</div>
                    <div class="popup-info">
                        Справка:
                        <div class="popup-text-field">
                            Описание:
                            <br>
                            {{ deal.description }}
                            <br>
                            Бюджет: {{ deal.budget }} | Расходы: {{ deal.expenses|default:"Нет"}} | Баланс: {% deal_balance deal_budget={{deal.budget}} deal_expenses={{deal_expenses}} %}
                            <br>
                            Ответственные:
                            {% for supervisor in deal.supervisors.all %}
                                {{ supervisor.user.username }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="popup-tasks-field">
                        Задачи:
                        {% for task in deal.tasks.all %}
                            <div class="popup-task">
                                {{ task.title }}
                                <div class="popup-task-detail">
                                    {{ task.description }}
                                </div>
                            </div>
                            <div class="global-notes">
                                NOTES NOTES NOTES NOTES NOTES NOTES NOTES NOTES NOTES NOTES NOTES NOTES NOTES NOTES NOTES 
                            </div>
                        {% endfor %}
                    </div>
                    <hr>
                </div>
            </div>
        </a>
    {% endfor %}
    <span class="workspace-group-title">Some group</span>
    <hr class="workspace-upper-divider">
    {% for deal in deals %}
    <a class="deal-card-href" href="#blackout">
        <div class="deal-card">
            <div class="deal-card-date">{{ deal.date_open|date:"d M Y" }}</div>
            <div class="deal-card-content">
                <p class="content-title">{{ deal.title }}</p>
                <!--<p class="content-description">{{ deal.description }}</p>-->
                <ul class="content-tasks-ul">
                {% for task in deal.tasks.all %}
                <li class="content-tasks-ul-item">{{ task.title }}</li>
                {% endfor %}
                </ul>
            </div>
            <hr class="deal-card-divider">
            <div class="deal-card-notes">
                notes notes notes notes notes notes
            </div>
        </div>
    </a>
    {% endfor %}
{% endblock content %}